@import './variables';

.projects {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    // overflow: hidden;

    .sidebar {
        width: $sidebar-ratio;
        width: 20rem;
        height: 90%;
        background-color: white;

        border-radius: 0px $panel-border-radius $panel-border-radius 0px;


        filter: drop-shadow(0px 3px 10px rgba(190, 190, 190, 0.562));

        .blocks-container {
            width: 100%;
            height: 80%;
            display: grid;
            grid-template-columns: 1fr;

            grid-gap: 1rem;

            padding-top: 3rem;
            padding-bottom: 3rem;

            .sidebar-block {
                width: 75%;
                height: 100%;

                background-color: #ebe9e9;

                border-radius: 0.8rem;
                margin-left: 10%;

                cursor: pointer;

                transition: all 0.3s ease;

                &.active-block {
                    transform: translateX(10%);
                }

                &:hover {
                    transform: translateX(2%);
                }


            }
        }

    }

    .body {
        height: 100%;
        width: 100% - $sidebar-ratio ;

        .projects-panel {
            width: 75%;
            height: 100%;

            margin-left: 12%;
            //flex align right?

            // display: flex;
            // flex-direction: column;
            // justify-content: flex-start;

            padding: 0rem 1rem;
            // overflow: hidden;
            overflow: visible;

            .project-wrapper {
                height: 110%;
                background-color: rgba($bert-primary-color, 0.8);
                background-clip: padding-box;

                // border: 1px solid rgba(0, 0, 0, 0.1);
                filter: drop-shadow(0px 3px 10px rgba(190, 190, 190, 0.3));
                border-radius: $panel-border-radius;
                margin-top: 2rem;

                .project {
                    width: 100%;
                    height: $bert-top-ratio;

                    background-color: rgba(255, 255, 255, 1);

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    box-sizing: border-box;
                    padding: $bert-panel-padding-top $bert-panel-padding-side;
                    border-radius: $panel-border-radius $panel-border-radius 0px 0px;

                    position: relative;

                    .bert-container {
                        height: $bert-image-size;
                        // width: 100%;

                        overflow: hidden;

                        display: flex;
                        justify-content: center;
                        align-content: center;

                        img {
                            display: block;
                            width: auto;
                            height: 100%;

                            object-fit: cover;

                            position: relative;
                            // top: 3rem;
                        }
                    }

                    .search-bar {
                        height: $bert-search-size;

                        display: flex;
                        align-items: center;

                        font-size: 2.5rem;
                        font-weight: normal;
                        // font-family: bilo;

                        padding-left: 3rem;
                        padding-right: 3rem;

                        border: 1px solid rgba(0, 0, 0, 0.25);
                        border-radius: 1.5rem;

                        img {
                            width: auto;
                            height: 55%;
                            margin-right: 1rem;
                        }
                    }

                    .paper {
                        height: 90%;
                        width: 100%-2*$bert-panel-padding-side;

                        position: absolute;
                        top: $bert-search-size+ $bert-image-size + 5%;

                        border-radius: 1rem;
                        background-color: rgb(255, 255, 255);
                        filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.10));

                        padding: 5% 10% 0% 10%;
                        box-sizing: border-box;

                        h4 {
                            text-align: center;
                            font-size: 1.66rem;
                            font-weight: normal;

                            margin: 0px;
                            margin-top: 1rem;
                        }

                        p {
                            text-align: left;
                        }
                    }
                }

            }
        }

    }

}