$sidebar-ratio: 24%;

// Bert project
$bert-primary-color: #4285F4;

$bert-top-ratio: 60%;
$bert-panel-padding-side: 10%;
$bert-panel-padding-top: 2%;

$bert-search-size: 20%;
$bert-image-size: 40%;

$nmt-primary-color: #828282;
$nmt-small-font: 0.8rem;

$panel-border-radius: 2rem;